*{
    margin: 0px;
    padding: opx;
}
.main{
    width: 1000px;
    height: 800px;
    margin: 0px auto;
}
.t{
    width: 1000px;
    height: 200px;
    background-color: chartreuse;
}
.tl img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 70px;
}
.tl{
    float: left;
    width: 400px;
    height: 200px;
}
.tr{
    float: right;
    width: 600px;
    height: 200px;
}
.tr ul{
    list-style: none;
    overflow: hidden;
    display: block;
    float: right;
}
.tr ul li{
    background-color: aqua;
    float: left;
    padding: 15px;
}
.tr ul li:hover{
    background-color: brown;

}
.tr ul li a{
    text-decoration: none;
    color: black;
}
.m{
    width: 1000px;
    height: 200px;
    background-color: blue;
}
.m img{
    width: 1000px;
    height: 200px;
}
.b{
    width: 1000px;
    height: 400px;
}
.bl{
    float: left;
    width: 500px;
    height: 400px;
    background-color: blueviolet;
}
.bl h1{
    text-align: center;
}
.bl p{
    font-size: 20px;
    text-align: justify;
    padding: 5px;
}
.br{
    float: right;
    width: 490px;
    height: 390px;
    padding: 10px 0px 0px 10px;
    background-color: brown;
}
#button{
    margin-left: 240px;
}