/* *{
    margin: 0;
} */
body{
    margin: 0px;
    background-color: aqua;
}

.first h2{
    color: red;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: black;
    padding: 30px;
}
.sec h2{
    color: green;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: white;
    padding: 30px;
}