*{
    margin: 0px;
    padding: 0px;
}

.main{
    width: 900px;
    height: 600px;
    margin: 0px auto;
    background-color: red;
}
.t{
    width: 900px;
    height:300px;
    background-color: aquamarine;
}
.t-l{
    float: left;
    width: 500px;
    height: 300px;
    background-color: black;
}
.t-l-t{
    width: 500px;
    height: 200px;
    background-color: blueviolet;
}
.t-l-t-l{
    float: left;
    width: 350px;
    height: 200px;
    background-color: brown;
}
.t-l-t-l-l{
    float: left;
    width: 200px;
    height: 200px;
    background-color: chartreuse;
}
.t-l-t-l-l-t{
    width: 200px;
    height: 100px;
    background-color: coral;
}
.t-l-t-l-l-b{
    width: 200px;
    height: 100px;
    background-color: cornflowerblue;
}
.t-l-t-l-r{
    float: right;
    width: 150px;
    height: 200px;
    background-color: chocolate;
}
.t-l-t-r{
    float: right;
    width: 150px;
    height: 200px;
    background-color: cadetblue;
}
.t-l-t-r-t{
    width: 150px;
    height: 100px;
    background-color: cornflowerblue;
}
.t-l-t-r-b{
    width: 150px;
    height: 100px;
    background-color: crimson;
}
.t-l-b{
    width: 500px;
    height: 100px;
    background-color: cyan;
}
.t-r{
    float: right;
    width: 400px;
    height: 300px;
    background-color: blue;
}
.t-r-l{
    float: left;
    width: 100px;
    height: 300px;
    background-color: darkblue;
}
.t-r-r{
    float: right;
    width: 300px;
    height: 300px;
    background-color: darkcyan;
}
.t-r-r-t{
    width: 300px;
    height: 100px;
    background-color: darkgoldenrod;
}
.t-r-r-b{
    width: 300px;
    height: 200px;
    background-color: darkgray;
}
.t-r-r-b-l{
    float: left;
    width: 150px;
    height: 200px;
    background-color: darkgreen;
}
.t-r-r-b-l-r{
    float: right;
    width: 100px;
    height: 100px;
    background-color: darkmagenta;
}
.t-r-r-b-r{
    float: right;
    width: 150px;
    height: 200px;
    background-color: darkkhaki;
}
.t-r-r-b-r-t{
    width: 150px;
    height: 100px;
    background-color: darkolivegreen;
}
.t-r-r-b-r-b{
    width: 150px;
    height: 100px;
    background-color: darkorange;
}
.b{
    width: 900px;
    height: 300px;
    background-color: darkorchid;
}
.b-l{
    float: left;
    width: 400px;
    height: 300px;
    background-color: darkred;
}
.b-l-t{
    width: 400px;
    height: 150px;
    background-color: gold;
}
.b-l-t-l{
    float: left;
    width: 134px;
    height: 150px;
    background-color: goldenrod;
}
.b-l-t-m{
    float: left;
    width: 133px;
    height: 150px;
    background-color: greenyellow;
}
.b-l-t-r{
    float: right;
    width: 133px;
    height: 150px;
    background-color: brown;
}
.b-l-m{
    width: 400px;
    height: 50px;
    background-color: hotpink;
}
.b-l-b{
    width: 400px;
    height: 100px;
}
.b-l-b-l{
    float: left;
    width: 200px;
    height: 100px;
    background-color: lawngreen;
}
.b-l-b-r{
    float: right;
    width: 200px;
    height: 100px;
    background-color: lightblue;
}
.b-r{
    float: right;
    width: 500px;
    height: 300px;
    background-color: fuchsia;
}
.b-r-l{
    float: left;
    width: 400px;
    height: 300px;
}
.b-r-l-t{
    width: 400px;
    height: 220px;
}
.b-r-l-t-l{
    float: left;
    width: 260px;
    height: 220px;
    background-color: lightpink;
}
.b-r-l-t-l-t{
    width: 260px;
    height: 160px;
    background-color: cornflowerblue;
}
.b-r-l-t-l-b{
    width: 260px;
    height: 60px;
    background-color: chocolate;
}
.b-r-l-t-r{
    float: right;
    width: 140px;
    height: 220px;
    background-color: violet;
}
.b-r-l-t-r-l{
    float: left;
    width: 90px;
    height: 220px;
    background-color: blueviolet;
}
.b-r-l-t-r-r{
    float: right;
    width: 50px;
    height: 220px;
    background-color: aquamarine;
}
.b-r-l-b{
    width: 400px;
    height: 80px;
    background-color: lightgreen;
}
.b-r-r{
    float: right;
    width: 100px;
    height: 300px;
    background-color: lightcoral;
}
